.SeleccionCont {
  margin-top: 3%;
  width: 100%;
}

.button-selection-container {
  width: 100%;
  text-align: center;
}

.button-selection-container label {
  width: auto;
  margin-top: 3%;
  margin-left: 2%;
}

.button-selection {
  display: flex;
  flex-direction: initial;
}

.selection {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 3%;
  align-items: center;
}

.selection label {
  width: 100%;
}

.button-selection .iconC {
  font-size: 500%;
  color: white;
}

.selection button {
  border-radius: 50%;
  margin: 2%;
  margin-bottom: 0;
  width: 9rem;
  height: 9rem;
  border: none;
  background-color: rgb(134, 131, 131);
  cursor: pointer;
}

.selection button.selected .iconC {
  color: orange;
}

@media (max-width: 768px) {
  .selection{
    margin: 0;
  }
  .button-selection {
    flex-direction: column;
  }
}
