.enlace-icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 3%;
  margin-bottom: 5%;
}

.enlace-icons-section {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.enlace-icons-section:hover {
  transform: scale(1.1);
}

.enlace-icons {
  color: #e67e22;
  font-size: 1100%;
  display: flex;
  justify-content: center;
}

.icon-water-home {
  color: #3498db;
  margin-bottom: 20%;
}

.icon-gift {
  color: #e74c3c;
  margin-bottom: 20%;
}

.icon-shop {
  color: #2ecc71;
  margin-bottom: 20%;
}

.enlace-icons-section h1 {
  color: #838080;
  text-align: center;
}

@media (max-width: 768px) {
  .enlace-icons-container {
    flex-direction: column;
    align-items: center;
  }
}
