.Scontenedor {
  width: 100%;
  height: 20vh;
  display: flex;
}

.SCont {
  margin-left: 3%;
  margin-top: 2%;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.SCont label {
  width: auto;
  margin-left: 2%;
}

.quantity-input {
  width: 100%;
  margin-left: 7%;
  height: 35%;
  display: flex;
  align-items: center;
  margin-top: 3%;
}

.quantity-button {
  background-color: white;
  border: none;
  color: orange;
  width: 15%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.Bderecha {
  border-radius: 0 20px 20px 0;
}

.Bizquierda {
  border-radius: 20px 0 0 20px;
}

#numerico {
  font-size: 115%;
  text-align: center;
  border: 1px solid white;
  height: 100%;
  width: 48%;
  -moz-appearance: textfield;
  outline: none;
}

#numerico::-webkit-inner-spin-button,
#numerico::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.ContSeleccionCredito {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 10%;
}

.input-Select {
  margin-left: 18%;
  margin-top: 5%;
  border-radius: 2vh;
  font-size: 105%;
  padding: 2%;
  text-align: center;
  border: 1px solid white;
  width: 100%;
  height: 38%;
  outline: none;
}

@media (max-width: 768px) {
  .Scontenedor {
    width: 100%;
    height: auto;
  }
}
