.Scontenedor {
  width: 100%;
  height: 80vh;
}

.SCont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.SCont label {
  width: auto;
  margin-top: 3%;
  margin-left: 2%;
}

.quantity-input {
  margin-left: 2%;
  height: 8%;
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.quantity-button {
  background-color: white;
  border: none;
  color: orange;
  width: 3%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.Bderecha {
  border-radius: 0 20px 20px 0;
}

.Bizquierda {
  border-radius: 20px 0 0 20px;
}

#numerico {
  font-size: 115%;
  text-align: center;
  border: 1px solid white;
  height: 100%;
  width: 10%;
  -moz-appearance: textfield;
  outline: none;
}

#numerico::-webkit-inner-spin-button,
#numerico::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media (max-width: 768px) {
  .Scontenedor {
    width: 100%;
    height: auto;
  }
}
