.quantity-input-container {
  width: 100%;
}

.quantity-label {
  margin-left: 2%;
  margin-top: 2%;
}

.quantity-input {
  margin-left: 2%;
  height: 8%;
  display: flex;
  align-items: center;
  margin-top: 2%;
}

.quantity-button {
  background-color: white;
  border: none;
  color: orange;
  width: 3%;
  height: 100%;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  outline: none;
}

.quantity-button.right {
  border-radius: 0 20px 20px 0;
}

.quantity-button.left {
  border-radius: 20px 0 0 20px;
}

#numeric {
  font-size: 115%;
  text-align: center;
  border: 1px solid white;
  height: 100%;
  width: 10%;
  -moz-appearance: textfield;
  outline: none;
}

#numeric::-webkit-inner-spin-button,
#numeric::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
