.fondoC {
  background: linear-gradient(
    90deg,
    rgba(232, 232, 232, 1) 0%,
    rgb(221, 219, 219) 100%
  );
}

.body-credito {
  display: flex;
  flex-direction: row;
}

.prompts-table{
  display: flex;
  justify-content: center;
  
}

.left{
  width: 70%;
  gap: 80px;
  display: flex;
  flex-direction: column;
}

.left div{
  width: 100%;
}

.right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  padding: 1%;
}

@media (max-width: 768px) {
  .body-credito {
    display: flex;
    flex-direction: column;
  }

  .prompts-table{
    flex-direction: column;
  }

  .left{
    width: 100%;
  }

  .right{
    width: 100%;
    margin-bottom: 20px;
  }
}
