.fondoC {
  background: linear-gradient(
    90deg,
    rgba(232, 232, 232, 1) 0%,
    rgb(221, 219, 219) 100%
  );
}

.body-credito {
  display: flex;
  flex-direction: row-reverse;
}

.requisitos-simular-credito {
  flex: 1; /* Toma una proporción del espacio disponible */
}

.componentes-simular-credito {
  flex: 2; /* Toma dos proporciones del espacio disponible */
  display: flex;
  flex-direction: column;
}

.prompts-table{
  display: flex;
  justify-content: center;
  
}

@media (max-width: 768px) {
  .body-credito {
    display: flex;
    flex-direction: column-reverse;
  }

  .prompts-table{
    flex-direction: column;
  }
}
