.headerPrincipal {
  padding: 2rem 0;
}

.imagenHeader {
  width: 75%;
  height: auto;
  pointer-events: none;
  display: block;
}

.imagenHeaderMovil {
  display: none;
  width: 100%;
  height: auto;
  pointer-events: none;
}

@media (max-width: 768px) {
  .imagenHeader {
    display: none;
  }
  .imagenHeaderMovil {
    display: block;
  }
}
