.banner {
  width: 100%;
  height: 88vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("public/img/header2.jpg");
  background-size: cover;
  background-position: center;
}

.HContent {
  width: 100%;
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  text-align: center;
  color: antiquewhite;
}

.HContent h1 {
  font-size: 50px;
  margin-top: 10%;
}

.HContent p {
  margin: 1.2% auto;
  font-weight: 100;
  /*line-height: 25px;*/
}

.HButton {
  width: 8%;
  padding: 1.1% 0;
  text-align: center;
  border-radius: 15px;
  font-weight: bold;
  border: 2px solid #e96123;
  background: transparent;
  color: aliceblue;
  cursor: pointer;
  transition: 0.3s;
}

.HButton:hover {
  border: 2px solid white;
}

@media (max-width: 768px) {
  .HContent {
    top: 55%;
  }

  .HContent h1 {
    font-size: 20px;
    margin-top: 10%;
  }

  .HContent p {
    margin: 1.2% auto;
    font-weight: 100;
    font-size: 14px;
  }

  .HButton {
    margin-top: 10%;
    width: 30%;
  }
}
