.PromocionContenedor {
  width: 100%;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 7%;
  margin-bottom: 9%;
}

.PromocionContenido {
  width: 37%;
  height: 100%;
  background: linear-gradient(to right, #e67e22, #f39c12);
  color: blanchedalmond;
  border-radius: 10px 0 0 10px;
}

.PromocionTitulo {
  text-align: center;
  font-size: 130%;
  padding: 7%;
  padding-top: 12%;
}

.PromocionTexto {
  font-family: Arial, sans-serif;
  text-align: justify;
  hyphens: auto;
  font-size: 109%;
  padding: 4%;
  padding-top: 3%;
  hyphens: none;
  overflow-wrap: break-word;
  word-break: normal;
}

.PromocionImagen {
  width: 30%;
  height: 100%;
  background-color: gray;
  background: url("/img/DescripcionPromocion.png") no-repeat center center;
  background-size: contain;
  background-position: center;
  border-radius: 0 10px 10px 0;
  border: 10px solid #f39c12;
}

.PromocionImagen img {
  position: relative;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .PromocionContenedor {
    flex-direction: column-reverse;
    height: 100vh;
  }

  .PromocionContenido {
    width: 90%;
    border-radius: 0 0 10px 10px;
  }

  .PromocionTexto {
    text-align: center;
  }

  .PromocionImagen {
    width: 90%;
    border-radius: 10px 10px 0 0;
  }
}
