.PContent {
  padding: 2rem 0;
}

.Pcontentenedor {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagen {
  width: 20%;
  margin-left: 4%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .Pcontentenedor {
    flex-direction: column;
  }

  .imagen {
    width: 80%;
    margin-bottom: 9%;
  }
}
