.PContent {
  height: 100%;
  padding: 2rem 0;
}

.Pcontentenedor {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagenV {
  width: 20%;
}

.imagen {
  margin: 3%;
  height: auto;
  border-radius: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease, box-shadow 0.3s ease;
}

.imagen:hover {
  transform: scale(1.01);
  transition: transform 0.3s ease;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.imagenHCont {
  width: 38%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.imagenH {
}

@media (max-width: 768px) {
  .Pcontentenedor {
    flex-direction: column;
  }

  .imagen {
    width: 80%;
    margin-bottom: 9%;
  }
}
