.banner {
  background: url("../../../../public/img/fondo_header1.png") no-repeat center
    center;
  background-size: cover;
  height: 85vh;
  width: 100%;
  display: flex;
}

.banner img {
  margin-top: 1%;
  width: 28%;
  height: auto;
}

.HContent {
  color: white;
  margin: 10%;
}

.HContent h3 {
  font-family: "Georgia", serif;
  font-size: 350%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.HContent p {
  font-family: "Georgia", serif;
  position: absolute;
  font-size: 160%;
  margin-left: 20%;
  transform: skew(-15deg);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.HeaderBton {
  width: 30%;
  font-size: 110%;
  padding: 3% 0;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: bold;
  background: transparent;
  color: aliceblue;
  border: 2px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  margin: 5%;
  margin-top: 20%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.HeaderBton:hover {
  transition: 0.5s;
  background-color: rgb(251, 187, 68);
  transform: scale(1.01);
}

.HeaderBtonC {
  width: 30%;
  font-size: 110%;
  padding: 3% 0;
  font-family: "Georgia", serif;
  text-align: center;
  font-weight: bold;
  background: rgb(251, 236, 207);
  color: orange;
  border: 2px solid #ffffff;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.5s;
  margin: 5%;
  margin-top: 20%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
}

.HeaderBtonC:hover {
  transition: 0.5s;
  transform: scale(1.01);
}

@media (max-width: 768px) {
  .banner {
    flex-direction: column;
    height: 100vh;
    align-items: center;
  }

  .banner img {
    width: 40%;
    margin-top: 10%;
  }

  .HContent {
    align-items: center;
    width: 100%;
    margin: 0;
    margin-top: 10%;
    justify-content: center;
  }

  .HContent h3 {
    margin-top: 10%;
    text-align: center;
    font-size: 200%;
  }

  .HContent p {
    left: 17%;
    font-size: 120%;
  }

  .HeaderBton,
  .HeaderBtonC {
    font-size: 118%;
  }
}
