.RContent {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  background-color: rgb(95, 95, 95);
}

.RequisitosContent {
  width: 25%;
  padding: 2rem;
}

.TituloContent {
  display: grid;
  place-items: center;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  background: rgb(29, 113, 184);
  background: linear-gradient(
    90deg,
    rgba(29, 113, 184, 1) 0%,
    rgba(50, 163, 221, 1) 100%
  );
}

.TituloContent h3 {
  position: relative;
  color: white;
  text-align: center;
  padding: 1%;
}

.TextoContent {
  display: grid;
  place-items: center;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  min-height: 250px;
  background-color: #f9b234;
}

.TextoContent p {
  position: relative;
  text-align: center;
  color: black;
}

.TituloContentSM {
  border-radius: 0 0 0 0;
}

@media (max-width: 768px) {
  .RContent {
    flex-direction: column;
  }

  .RequisitosContent {
    width: 100%;
  }
}
