.RContent {
  width: 100%;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
}

.RequisitosContent {
  width: 25%;
  padding: 2rem;
}

.TituloContent {
  display: grid;
  place-items: center;
  border-radius: 60px 60px 0px 0px;
  width: 100%;
  background-color: #f15a29;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
}

.TituloContent h3 {
  position: relative;
  color: white;
  text-align: center;
}

.TextoContent {
  display: grid;
  place-items: center;
  border-radius: 0px 0px 10px 10px;
  width: 100%;
  min-height: 250px;
  background-color: #b3b3b3;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 5);
}

.TextoContent p {
  position: relative;
  text-align: center;
  color: #4a4a4a;
}

@media (max-width: 768px) {
  .RContent {
    flex-direction: column;
  }

  .RequisitosContent {
    width: 100%;
  }
}
