.FContent {
  width: 100%;
  height: auto;
  position: relative;
  background: linear-gradient(to right, #e67e22, #f39c12);
  color: beige;
}

.FContent a {
  text-decoration: none;
  transition: 0.5s;
  color: aliceblue;
}

.FContent ul,
.FContent li {
  list-style-type: none;
}

.footer_info {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding: 50px 0;
}

.footer_info .footer_width {
  padding: 0 15px;
}

.footer_info h2 {
  margin-bottom: 20px;
}

.about p {
  width: 93%;
  text-align: justify;
}

.about,
.contact {
  width: 40%;
}

.link {
  width: 20%;
}

.social-media {
  margin-top: 30px;
}

.social-media ul {
  display: flex;
}

.social-media ul li a {
  display: inline-block;
  margin-right: 50px;
  width: 50px;
  height: 50px;
  padding-top: 12px;
  background-color: transparent;
  border: 2px solid white;
  text-align: center;
}

.social-media ul li a:hover {
  background-color: white;
  color: black;
}

.link ul li a {
  display: block;
  margin-bottom: 15px;
  font-size: 18x;
  cursor: pointer;
}

.link ul li a:hover {
  color: orange;
}

.contact ul li {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.contact ul li span {
  margin-right: 15px;
}

.copy-right {
  padding: 15px 0;
  text-align: center;
  background-color: rgb(130, 126, 126);
}

@media screen and (max-width: 992px) {
  .about,
  .contact {
    width: 35%;
  }

  .link {
    width: 30%;
  }

  .about p {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .about,
  .contact,
  .link {
    width: 100%;
    margin-bottom: 30px;
  }

  .footer_info {
    flex-direction: column;
  }

  .about p {
    width: 100%;
  }
}
