.MContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.MContenedor {
  width: 25%;
  min-height: 100px;
  background-color: gray;
  margin: 3%;
  margin-left: 6%;
  margin-right: 6%;
  border-radius: 7%;
}

.iconoM {
  color: white;
  font-size: 500%;
}

.MTitulo {
  font-size: 200%;
  font-family: serif;
  text-align: center;
  color: white;
  margin: 5%;
}

.MTexto {
  color: white;
  text-align: justify;
  margin: 10%;
  font-size: medium;
}

@media (max-width: 768px) {
  .MContent {
    flex-direction: column;
  }

  .MContenedor {
    width: 90%;
    margin-left: 5%;
  }
}
