.MContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.MContenedor {
  width: 30%;
  min-height: 200px;
  background-color: gray;
  margin: 3%;
  border-radius: 7%;
}

.iconoM {
  color: white;
  font-size: 500%;
}

.MTitulo {
  font-size: 200%;
  font-family: serif;
  text-align: center;
  color: white;
  margin: 5%;
}

.MTexto {
  color: white;
  text-align: justify;
  margin: 10%;
  font-size: medium;
}
