.ContRCredito {
  height: 25vh;
  width: 100%;
}

.ContResultInterno {
  margin-left: 2%;
  width: 30%;
  height: 90%;
  border-radius: 3rem;
}

.ColeccionResultados {
  margin-top: 1%;
  display: flex;
  justify-content: space-around;
}

.ColeccionResultados p {
  color: orange;
}

.resultado-credito {
  border-radius: 1rem;
  text-align: center;
}
