.MContent {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.MContenedor {
  width: 33%;
  min-height: 100px;
  margin: 3%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 6%;
  border-radius: 7%;
}

.iconoM {
  color: rgb(255, 185, 54);
  font-size: 500%;
}

.MTitulo {
  font-size: 200%;
  font-family: serif;
  text-align: center;
  color: gray;
  margin: 5%;
}

.MTexto {
  color: gray;
  text-align: justify;
  margin-top: 8%;
  font-size: medium;
}

@media (max-width: 768px) {
  .MContent {
    flex-direction: column;
    margin-bottom: 8%;
    margin-top: 8%;
  }

  .MContenedor {
    width: 85%;
    margin-left: 7%;
  }
}
